<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.utar.moodtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoodTracker">
        <activity
            android:name=".SummaryPage"
            android:exported="false" />
        <activity
            android:name=".pickMood"
            android:exported="false" />
        <activity
            android:name=".mainPage"
            android:exported="false" />
    </application>

</manifest>