<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.utar.moodtracker">
    <!-- Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoodTracker">
        <activity
            android:name=".quotePage"
            android:exported="false"
            android:parentActivityName=".mainPage" />

        <receiver android:name=".ReminderReceiver" />

        <activity
            android:name=".Reminder"
            android:exported="false"
            android:parentActivityName=".mainPage" />
        <activity
            android:name=".SummaryPage"
            android:exported="false"
            android:parentActivityName=".mainPage" />
        <activity
            android:name=".pickMood"
            android:exported="false"
            android:parentActivityName=".mainPage" />
        <activity
            android:name=".mainPage"
            android:exported="false" />
        <activity
            android:name=".diaryPage"
            android:exported="false"
            android:parentActivityName=".mainPage" />

        <activity
            android:name=".LoginPin"
            android:exported="false" />
        <activity
            android:name=".pinLockSettings"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".TermOfService"
            android:exported="false" />
        <activity
            android:name=".Help"
            android:exported="false" />

        <activity
            android:name=".ReminderSettings"
            android:exported="false" />
    </application>

</manifest>